<div class="row">
  <div class= "col-md-8 col-md-offset-2 form-signup">
    <h2 class="text-center">Editer votre service</h2>
    <%= simple_form_for(@service) do |f| %>
      <%= f.input :pseudo %>
      <%= f.input :introduction %>
      <%= f.input :content %>
      <%= f.input :city %>
      <%= f.input :country %>
      <%= f.input :address %>
      <%= f.input :cover %>
      <%= f.input :cover_cache, as: :hidden %>
      <%= f.submit "Publier", class: "btn btn-default text-center" %>
    <% end %>
    <h4>
      <%= link_to '< Retour', :back %>
    </h4>
  </div>
</div>
