<div class="row">
  <div class= "col-md-8 col-md-offset-2 form-signup">
    <h2 class="text-center">Editer votre service</h2>
    <%= simple_form_for(@service) do |f| %>
       <%= f.input :tag, collection: Service::TAGS, selected: Service::TAGS.first %>
      <%= f.input :pseudo, label: "Pseudo" %>
      <%= f.input :introduction %>
      <%= f.input :content %>
      <%= f.input :address %>
      <%= f.input :zip_code %>
      <%= f.input :city %>
      <%= f.input :country %>
      <%= f.input :cover %>
      <%= f.input :cover_cache, as: :hidden %>
      <%= f.submit "Publier", class: "btn btn-default text-center" %>
    <% end %>
    <h4>
      <%= link_to '< Retour', :back %>
    </h4>
  </div>
</div>

<%= content_for(:after_js) do %>
  <script src="https://maps.googleapis.com/maps/api/js?libraries=places&amp;key=AIzaSyCvegYCjKjhUpT8Op8O8BQMNJVYKsmqPSg"></script>
<% end %>
