<!-- app/views/products/show.html.erb -->
<div class="container-service">
  <div class="container-fluid">
    <div class="row">
      <div class= "col-md-8 col-md-offset-2 form-artist text-center">
        <%= cl_image_tag @service.cover, height: 400, width: 400, crop: :fill, class: "artiste-picture" %>
        <div id="name-profile">
            <h4 class="text-center">
              <%= @service.pseudo %>
              <%= @service.introduction %>
              <%= @service.content %>
              <%= @service.city %>
              <%= @service.country %>
              <% if @service.pseudo.blank? %>
                <strong>C'est quoi ton pseudo ?</strong>
              <% else %>
                <%= @service.pseudo.capitalize %>
              <% end %>
            </h4>
        </div>
      </div>
    </div>

    <!-- Google maps -->
      <div class="row">
        <div class= "col-md-8 col-md-offset-2 form-artist text-center">

      <%= image_tag "https://maps.googleapis.com/maps/api/staticmap?center=#{@service.latitude},#{@service.longitude}&zoom=14&size=640x400&markers=color:black%7C#{@service.latitude},#{@service.longitude}" %>

        </div>
      </div>

      <!-- Photos associées -->
      <div class="row">
      <div class="col-md-8 col-md-offset-2 form-artist text-center">
        <h4>Quelques photos de mes spectacles</h4>
          <% if @service.user == current_user %>
            <%= link_to "Add photo", new_service_upload_path(@service), class: "btn btn-default" %>
          <% else %>
          <h5>Aucune photo associée à l'article</h5>
          <% end %>

        <ul class="list-unstyled list-inline">
          <% @service.uploads.each do |upload| %>
            <li>
              <%= cl_image_tag upload.photo, height: 500, width: 600, crop: :fill, class: "img-responsive image-download" %>
                <p>Titre : <%= upload.title %></p>
                <p>Description : <%= upload.description %></p>
                <%= link_to "supprimer la photo", service_upload_path(service_id: @service.id, id: upload.id),
                  data: { confirm: 'Are you sure?' }, method: :delete,class: "btn btn-primary" %>
            </li>
          <% end %>
        </ul>

      </div>
    </div>

    <div class="row">
      <div class= "col-md-8 col-md-offset-2 form-artist-bottom">
        <div class="text-center">
          <% if @service.user == current_user %>
            <%= link_to "Modifier mes informations", edit_service_path(@service), class: "btn btn-danger btn-md" %>
                <% else %>
              <button type="button" class="btn btn-success btn-md" data-toggle="modal" data-target="#myModal" > Acheter l'article </button>
            <% end %>
          <%= link_to "Voir tous les artistes", services_path, class: "btn btn-default btn-md" %>
        </div>
      </div>
    </div>
  </div>
</div>




