<div class="container-signup">
  <div class="container-fluid">
    <div class="row">
      <div class= " col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4 form-signup">
        <div class="form-bg">

          <h3 class="text-center">S'inscrire</h3>

            <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
              <%= f.error_notification %>

              <div class="form-inputs">
                <%= f.input :email, required: true, autofocus: true %>
                <%= f.input :password, required: true, hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length) %>
                <%= f.input :password_confirmation, required: true %>
              </div>
               <!-- Profile fields -->
              <hr/>
                <div class="row">
                  <div class="col-sm-6">
                    <%= f.input :first_name, label: 'Prénom' %>
                  </div>
                  <div class="col-sm-6">
                    <%= f.input :last_name, label: 'Nom' %>
                  </div>
                </div>
                <%= f.input :picture, label: 'Photo de profil' %>

              <div class="form-actions">
                <%= f.button :submit, "Sign up" %>
              </div>
            <% end %>

            <%= render "devise/shared/links" %>
        </div>
      </div>
    </div>
  </div>
</div>
