<div class="container-login">
  <div class="container-fluid ">
    <div class="row">
      <div class= "col-md-8 col-md-offset-2 form-profile ">
        <div class="text-center frame-picture">

            <% if  @user == current_user %>

              <% if @user.picture.blank? %>
              <h5>
                <%= link_to t(".top_call_to_action", default: "Je crée mon profil"), edit_user_registration_path, class: "btn btn-default text-center mini-space" %>
              </h5>
              <% else %>
                <h5>
                  <%= link_to t(".top_call_to_action", default: "J'ajoute encore des infos !"), edit_user_registration_path, class: "btn btn-default text-center second-button" %>
                </h5>
              <% end %>
            <% end %>

          <%= image_tag @user.picture || "http://api.adorable.io/avatars/300/#{current_user.email}", class: "user-picture" %>
        </div>

        <div id="name-profile">
            <h4 class="text-center">
              <% if @user.first_name.blank? %>
                <strong>C'est quoi ton nom ?</strong>
              <% else %>
                <%= @user.first_name.capitalize %> <%=@user.last_name.capitalize[0] %>.
              <% end %>
            </h4>
          </div>

        <!-- <h1 class="text-center"> <strong>  <%= @user.first_name %> <%=@user.last_name %> </strong> </h1> -->

      </div>
    </div>
  </div>

  <div class="container-fluid container-signup">
    <div class= "col-md-8 col-md-offset-2 form-profile-botom ">
      <h4 class="text-center">
        <% if @user == current_user %>
          <strong>Renseignements</strong>
        <% else %>
          <strong>Articles de <%= @user.first_name %> <%=@user.last_name %></strong>
        <% end %>
      </h4>
      <ul id="home-articles" class="list-unstyled">

          <li class="col-sm-6">
            <div class="container-cards">

            </div>
          </li>


      </ul>
    </div>
  </div>


</div>
