<div class="coverhome">
  <div class="coverhome-filter">
    <div class="container-fluid">
      <div class="row">
        <h1>CAPS - DEMO</h1>
          <div class="col-xs-12 col-sm-12 col-md-12">
            <div class="search-form">
              <%= simple_form_for :search, url: services_path, method: :get, :html => { :class => 'form-inline' } do |f| %>
              <%= f.input :query, label: false, placeholder: "Recherchez : jongleur, Paris..." %>
              <%= f.submit "Rechercher",  class: "btn btn-success" %>
              <% end %>
            </div>
          </div>
      </div>
    </div>
  </div>
</div>

<div class="container" id="home-articles">
  <div class="row">
    <h2>Dernières prestations postées</h2>
    <ul>
      <% @services.each do |service| %>
        <li class="col-xs-6 col-md-4 container-cards">
          <%= link_to service_path(service) do %>
            <div class="card-filter-home" style="background: url(<%= cloudinary_url service.cover, opacity: "80" %>); background-size:cover">
            </div>
             <div class="card-details">
                <span class="card-post-cat"></span>
                <h3><%= service.pseudo %></h3>
                <p class="card-post-author">
                  Publié par.
                </p>
                  <p class="card-post-date">
                    <%= l service.user.created_at, format: :short %>
                  </p>
            </div>
          <% end %>
        </li>
      <% end %>
    </ul>
  </div>

  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12">
      <div class="text-center">
      <%= link_to t(".top_call_to_action", default: "voir toutes les prestations"), services_path, class: "btn btn-default button-home" %>
      </div>
    </div>
  </div>

</div>

