<div class="container-upload">
  <div class="container-fluid">
    <div class="row">
      <div class= "col-md-8 col-md-offset-2 form-upload-bottom">
        <h1 class="text-center">Uploadez quelques photos</h1>
        <%= simple_form_for [@service, @upload] do |f| %>
          <%= f.error_notification %>
          <%= f.input :title, label: "Nommez la photo" %>
          <%= f.input :description, label: "Décrivez la photo" %>
          <%= f.input :photo, label: "Téléchargez la photo" %>
          <%= f.submit "Télécharger", class: "btn btn-primary" %>
        <% end %>
        <h4 class="text-center">
          <%= link_to '< Retour', :back, class: "btn btn-default" %>
        </h4>

      </div>
    </div>
  </div>
</div>
